/* About Section */
.welcome-flex {
    display: flex;
    text-align: center;
    margin: auto;
    max-width: 900px;
    /* padding: 0 1rem; */
}



/* .welcome-text {
    max-width: 700px;
    text-align: left;
    margin-right: 10px;
} */



@media (min-width: 768px) {
    .welcome-flex {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
    }
    .welcome-text {
        margin-left: 2rem;
    }
}